.box{
    align-content: center;
    display: block;
    margin: 0 auto;
    width:150px; /* Set this based on the size of the text box you are using */
}

.loc-con{
    align-items: center;
    margin: 25%; 
    border: none ;
    width: 500px;
    height: 500;
    text-align: center;
    background-color: white;
    border-radius: 10px; 

}
.textbx:focus
{
    background-color: rgb(199, 195, 195);
    outline: none;
}

/* .loc-btn:hover
{
    background-color: #0b1b3d; 
    cursor: pointer;
} */
.loc-btn{
    padding: 5px;  
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1f2533;  /* here */
  color: white;
  font-weight: 800;
  border:hidden;
}

.loc-input{
    width: 300px;
    align-items: center;
    height: 40px;
    /* background-color: #0b1b3d; 
    cursor: pointer; */ 
}

/* .loc-parent{
    border: 2px solid salmon;
    width: 30%;
    height: 10%;
    margin-top: 20%;
} */




/* ============================================================================== */

.search-container{
    min-width: 100vw;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(../imgs/Searchbackground.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background:rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}