.box{
    align-content: center;
    display: block;
    margin: 0 auto;
    width:150px; /* Set this based on the size of the text box you are using */
}

.loc-con{
    align-items: center;
    margin: 25%; 
}

.loc-input{
    width: 300px;
    align-items: center;
    height: 40px;
}

/* .loc-parent{
    border: 2px solid salmon;
    width: 30%;
    height: 10%;
    margin-top: 20%;
} */